.small-card-with-arrow {
    height: 7vh;
    width: 90vw;
    margin-top: 2vh;
    border-radius: 2rem;
    background: #fff;
    display: flex;
    align-items: center;
}
.small-card-with-arrow img{
    height: 100%;
    width: 15%;
    margin-left: 4vw;
}
.small-card-with-arrow h2{
    font-size: 2.5rem;
    margin-left: 3vw;

}
.small-card-with-arrow-text{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.small-card-with-arrow p{
    margin-left: 3vw;
    margin-top: -1vh;
    font-size: 1.4rem;

}
.small-card-with-arrow .fa.fa-chevron-right{
    font-size: 4rem;
    margin-left: 20vw;

}